<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a routerLink="/">Mean App</a></span>
    <span class="spacer"></span>
    <div class="button-row">
      <a *ngIf="!(auth$ | async)"
        mat-button
        routerLink="/auth/signup"
        routerLinkActive="mat-accent">Sign up</a>
      <a *ngIf="!(auth$ | async)"
        mat-button
        routerLink="/auth/signin"
        routerLinkActive="mat-accent">Sign in</a>
      <a *ngIf="auth$ | async"
        mat-button
        routerLink="/create"
        routerLinkActive="mat-accent">New Post</a>
      <a *ngIf="auth$ | async"
        mat-button
        (click)="onLogout()">Logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-2">
  <router-outlet></router-outlet>
</div>
